@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts.css';

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
}


* {
  scroll-behavior: smooth;
  font-family: 'inter', sans-serif;
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
  }
  
  .animate-blink {
    animation: blink 1.2s infinite ease-in-out;
  }
