@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/fonts.css';
*{
  scroll-behavior: smooth;
}
body {
  font-family: 'Rethink Sans';
}

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.3; }
  }
  
  .animate-blink {
    animation: blink 1.2s infinite ease-in-out;
  }
  